@media (max-width:1600px){
    .about .about-content .left-content {
        width: 45%;
    }
    .button1 button{
        margin-left: 40%;
    }
}
@media (max-width:1400px){
    .about .about-content .left-content {
        width: 49%;
    }
}
@media (max-width:1200px){
    .about .about-content .left-content {
        width: 54%;
    }
}
@media (max-width:1000px){
    .devpic{
        display: none;
    }
    .myintro {
        margin-left: -30px;
        margin-top: 140px;
      }
      .devinfo{
        margin-left: 50px;
      }
    .hello{
        font-size: 47px;
    }
    .name{
        font-size: 40px;
    }
    .about{
        font-size: 30px;
    }
    .moreabout{
        font-size: 21px;
    }
    .button button{
        font-size: 20px;
    }
    .button1 button{
        font-size: 20px;
    }
    .contactform{
        margin:0 7px;
    }
    .contactform h1{
        font-size: 34px;
    }
    .contactform form div{
        font-size: 22px;
    }
    #Clientname, #Clientname, #Clientphone, #Query,#Clientemail{
        width: 500px;
    }
    .about .about-content .left-content {
        width: 60%;
    }
}
@media (max-width:800px){
    .about .about-content .left-content {
        width: 20rem;}
        .button1 button{
            font-size: 20px;
            margin-left: 125px;
        }
    }
    @media (max-width:650px){
        .button1 button{
            font-size: 20px;
            margin-left: 85px;
        }
    }
    @media (max-width:650px){
        .about .about-content .left-content {
            width: 25rem;}
            .about .about-content .right-content {
                width: 25rem;
            }
            .about .about-content .left-content .leftimg {
                height: 340px;
                width: 340px;
                
            }
        .footer{
            font-size: 1.5rem;
            width: 124%;
        }
            
        }
        
@media (max-width:600px) {
    .devpic{
        display: none;
    }
    
    .myintro {
        margin-left: -19px;
        margin-top: 140px;
    }
  .devinfo{
    margin-left: 50px;
  }
.hello{
    font-size: 47px;
}
.name{
    font-size: 40px;
}
/* .about {
    margin-left: 13%;
    margin-right: -27%;
    font-size: 30px;
} */
.moreabout{
    font-size: 21px;
}
.button1 button{
    font-size: 15px;
   
}
#Clientname, #Clientname, #Clientphone, #Query,#Clientemail{
    width: 353px;
}
.contactform form div{
    font-size: 22px;
}
.contactform h1 {
    font-size: 23px;
    width: 400px;
}
#emailHelp{
    font-size: 12px;
    width: 300px;
}
#check {
    width: 337px;
}
.contactform{
    margin:0 -23px;
}
.about .about-content .left-content {
    width: 20rem;
}
.about .about-content .right-content {
    width: 20rem;
}
.title1{
    font-size: 2rem;
}
}


@media only screen and (max-width: 599px) and (min-width: 375px) {
    .myintro {
        margin-left: -30px;
        margin-top: 123px;
      }
}

@media (max-width:500px){
    .about .about-content .left-content {
        width: 20rem;
    }
    .about .about-content .right-content {
        width: 20rem;
        margin-left: 3rem;
    }
    .about .about-content .left-content .leftimg {
        height: 200px;
        width:200px;
        margin-left: 15px;
    }
    /* .about {
        margin-left: 13%;
        margin-right: -38%;
        font-size: 30px;
    } */
    .footer{
        width: 150%;
    }
}
@media (max-width:460px){
    .button1 button{
        font-size: 20px;
        margin-left: 37px;
    
    }
    .title1{
        font-size: 2rem;
    }
    /* .about {
        margin-left: 13%;
        margin-right: -78%;
        font-size: 30px;
    } */
    .footer{
        width: 280px;
    }
    #Clientname, #Clientname, #Clientphone, #Query,#Clientemail{
        width: 280px;
    }
    .contactform h1 {
        font-size: 23px;
        width: 290px;
    }
    #emailHelp{
        font-size: 12px;
        width: 280px;
    }
    .about .about-content .left-content .leftimg {
        height: 200px;
        width:200px;
        margin-left: 14px;
    }
}
@media (max-width:320px){
    .about .about-content .left-content {
        width: 20rem;
    }
    .about .about-content .left-content .leftimg {
        height: 200px;
        width:200px;
        margin-left: 12px;
    }
    .about .about-content .right-content {
        width: 20rem;
    }
    .title1{
        font-size: 1.5rem;
    }
    .button1 button{
        font-size: 20px;
        margin-left: 12px;
    }
    /* .about {
        margin-left: 13%;
        margin-right: -104%;
        font-size: 30px;
    } */
    .footer{
        width: 238px;
    }
    #Clientname, #Clientname, #Clientphone, #Query,#Clientemail{
        width: 238px;
    }
    .contactform h1 {
        font-size: 23px;
        width: 264px;
    }
    #emailHelp{
        font-size: 12px;
        width: 238px;
    }
    
}